.container{
    width: 100%;
}
.navbar{
    display: block;
    overflow: hidden;
    background-image: url('../images/banners/7.jpg') ;
    height: 492px;
}
.navbar div{
    display: inline-block;
    margin: 2% 2%;
    float: right;
}
.navbar .logo{
    float: left !important;
}

.selector{
    display: block;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}
.selector span{
    display: inline-block;
    font-size: 20px;
    margin-left: 20px ;
}
.new-arrival{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left:20px;   
    padding: 0%;
}
.product-container{
    display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: white;
  padding: 10px;
}
.product-image{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.product-image .product-description{
    margin-left: 30px; 
    text-align: left !important;
}

.footer{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto ;
    background-color: rgb(37, 36, 36);
    padding: 20px !important;
}
.footer-content{
    margin-left: 20px !important ;

    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-align: left;
}